@model Ch24ShoppingCartMVC.Models.CartViewModel
@{
    ViewBag.Title = "Cart";
    var cart = Model.Cart;

}
@section css {
    <link href="~/Content/Cart.css" rel="stylesheet" />
}
<h2>Your Shopping Cart</h2>
@if (Model.Cart.Count == 0)
{
    <p>Nothing in your cart yet.</p>
}
else
{
    <ul style="border:solid 1px black; margin-left: 0">
        @foreach (var item in Model.Cart)
        {
        <li>
            @item.Display() <a href="/Cart/Delete/@item.ProductID">Remove</a>
        </li>
        }
    </ul>
    using (Html.BeginForm("List", "CheckOut", FormMethod.Post))
    {
        for (int i = 0; i < Model.Cart.Count; i++)
        {
            @Html.HiddenFor(m => m.Cart[i].Name);
            @Html.HiddenFor(m => m.Cart[i].Quantity);
            @Html.HiddenFor(m => m.Cart[i].UnitPrice);
        }

        <input type="submit" id="btnAdd" value="CheckOut" />
    }
}

